extends _layout

block content   
    div.containerMain
        h3 Pratix Parikh
        p  Exchange Rate API
        div.containerOXRAPI
            form.form-inline2.pb-4(method='GET')
                div.searchForm.w-25.d-flex.flex-row.justify-content-between
                    div.inputBox.d-flex.flex-column.justify-content-around
                        div.searchFormTextBox.py-2.px-3 Enter USD
                        div.searchFormInput.py-2.px-3
                            input(type="text" class="inputForm" name="dollars" value=`${form.dollars || ""}` placeholder=`Dollars`)
                    div.searchButtonBox.py-2.px-3.d-flex.flex-column.justify-content-center
                        div.searchButton
                            button(type="submit" class="btn btn-primary") Search
            div(class="exchangeRateOutput")
                table.table.currencyTable-r
                    thead
                        tr.currencyHead
                            th.currencyHead-r Currency Code
                            th.currencyHead-r Exchange Rate
                            th.currencyHead-r Result
                    tbody
                        each rate, currencyCode in rates
                            tr.currencyBody
                                td=currencyCode
                                - var InverseRate =(1/rate).toFixed(5)
                                td=`$${InverseRate}`   
                                 -  var symbol = getSymbolFromCurrency(currencyCode)
                                 -   if (symbol === undefined) {
                                 -       var symbol = ""} 
                                 -  else {
                                 -      symbol = getSymbolFromCurrency(currencyCode)}     
                                 -  var rate = (rate * form.dollars).toFixed(5)
                                td= `${symbol} ${rate}`
block page-scripts
    script(defer src="/script.js")